DATABASE_URL=postgresql://postgres:HARSH@localhost:5432/postgres
MAIN_URL=http://localhost
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:5000

CLOUDFLARE_AC_TOKEN=YOUR_SECRET

//MIGHT NOT BE USED 
CLOUDINARY_API_SECRET=YOUR_SECRET

CLOUDFLARE_URL=YOUR_URL

SECRET_ACCESS_KEY=YOUR_KEY.env
ACCESS_KEY_ID=YOUR_KEY

PORT=5000